
<%= render 'form', cat: @cat, method: :edit %>
<br>

<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="KILL THE CAT!!!!">
</form>